In [5]:
print('Hello Python')

Hello Python

In [6]:
name = 'UALR'

print(name)

UALR

In [7]:
num1 = 105

num2 = 105.5

num3 = 0.958

name = 'Mubbassher'

In [8]:
type(num3)

float

In [9]:
num1

105

In [10]:
type(num1)

int

In [11]:
type(num1)

int

In [12]:
# Conversion of Int to String (Type Casting)
# Source is int || Target is String

num1 = str(num1)

In [13]:
type(num1)

str

In [14]:
# Source is string target is integer

num1 = int(num1)

In [15]:
type(num1)

int

In [16]:
n1 = 109.5

In [17]:
n1 = int(n1)

In [18]:
Year = 1993
Month = 'June'
Day = 23

In [19]:
# YYYY/MM/DD

print(str(Year)+Month+str(Day))

# 1993/June/23

1993June23

In [20]:
print(Year+int(Month)+Day)

ValueError: invalid literal for int() with base 10: 'June'

In [25]:
int(Month)

ValueError: invalid literal for int() with base 10: 'June'

In [32]:
print(str(Year)+'/'+Month+'/'+str(Day))

1993/June/23

# Practicing Python 12-11-2022

In [46]:
# Creating a Program to calculate salary based on hours.

# Salary rate

rate = 11

print('Please Enter Number of Hours')

num_of_hours = int(input())

salary = rate*num_of_hours
# Escape Sequence

print("Employee's Salary = ",salary)

Please Enter Number of Hours
450
Employee's Salary =  4950

# Creating the Function

In [62]:
def salary_Calculation(num_of_hours,rate):
    rate = rate
    num_of_hours = num_of_hours
    salary = rate*num_of_hours
    return(salary)

In [64]:
## Input 

print("Please Enter Salary")

num_of_hours = int((input()))

print("Please Enter Rate")

rate = int((input()))

## Output

print('Your Salary is = ',salary_Calculation(num_of_hours,rate))

Please Enter Salary
121
Please Enter Rate
13
Your Salary is =  1573

In [58]:
salary_Calculation(110)

1210

In [5]:
## Variables

# Integer , String, Float, Boolean Already completed

decision = True
type(decision)

bool

In [13]:
# Lists/ Dictionary

i = 10
print('Value of I before Increment =',i)

i-=10

print('Value of I after Increment =',i)

Value of I before Increment = 10
Value of I after Increment = 0

In [37]:
## Comparison

i = 10
j = 20

if(i<=j and j==i):
    print('Yes')
else:
    print('No')

No

In [46]:
name = "Abdul"

In [47]:
len(name)

5

In [48]:
name[0:5]

'Abdul'

In [49]:
name[2:4]

'du'

In [86]:
# Syntax: slice(start, stop, step)

name[1:5:2]

'bu'

In [77]:
name1 = 'abdul Raheem'

In [78]:
print(name1)

abdul Raheem

In [79]:
## Finding the length of the string
len(name1)

12

In [80]:
## Find the number of occurance of a character in string
name1.count('a')

2

In [83]:
name1 = name1.capitalize()

In [84]:
name1

'Abdul raheem'

In [85]:
name1[name1.find('e'):name1.find('e')+len(name1)-1]

'em'

In [86]:
name1.find('e')

9

In [96]:
name1 = name1.replace('Abdul Basith','Nemath Ali')

In [112]:
myphone = 'Abdul \nBasith\'s \nIphone \t\t11'

In [113]:
print(myphone)

Abdul
Basith's
Iphone 		11

In [145]:
cigarete = ['newpot','Marlbor','Gandhi Beedi','Hooka Bar']

In [146]:
cigarete

['newpot', 'Marlbor', 'Gandhi Beedi', 'Hooka Bar']

In [147]:
type(cigarete[0])

str

In [148]:
cigarete.sort() # Sorts by ascending

In [149]:
cigarete

['Gandhi Beedi', 'Hooka Bar', 'Marlbor', 'newpot']

In [150]:
cigarete.reverse() # Sorts by descending

In [151]:
cigarete

['newpot', 'Marlbor', 'Hooka Bar', 'Gandhi Beedi']

In [153]:
cigarete.append('Katta Beedi')

In [154]:
cigarete

['newpot', 'Marlbor', 'Hooka Bar', 'Gandhi Beedi', 'Katta Beedi']

In [163]:
cigarete.insert(2,'Chota Gold Flake')

In [164]:
cigarete

['newpot',
 'Marlbor',
 'Chota Gold Flake',
 'Hooka Bar',
 'Gandhi Beedi',
 'Katta Beedi']

In [171]:
cigarete.pop(1) # Removes using the index

'Gandhi Beedi'

In [180]:
cigarete

['newpot', 'Katta Beedi']

In [182]:
help(cigarete)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [183]:
cigarete.remove('Hooka Bar') # Removes using the string

ValueError: list.remove(x): x not in list

In [185]:
cigarete

['newpot', 'Katta Beedi']

In [187]:
cigarete.index('newpot')

0