In [5]:
print('Hello Python')

Hello Python

In [6]:
name = 'UALR'

print(name)

UALR

In [7]:
num1 = 105

num2 = 105.5

num3 = 0.958

name = 'Mubbassher'

In [8]:
type(num3)

float

In [9]:
num1

105

In [10]:
type(num1)

int

In [11]:
type(num1)

int

In [12]:
# Conversion of Int to String (Type Casting)
# Source is int || Target is String

num1 = str(num1)

In [13]:
type(num1)

str

In [14]:
# Source is string target is integer

num1 = int(num1)

In [15]:
type(num1)

int

In [16]:
n1 = 109.5

In [17]:
n1 = int(n1)

In [18]:
Year = 1993
Month = 'June'
Day = 23

In [19]:
# YYYY/MM/DD

print(str(Year)+Month+str(Day))

# 1993/June/23

1993June23

In [20]:
print(Year+int(Month)+Day)

ValueError: invalid literal for int() with base 10: 'June'

In [25]:
int(Month)

ValueError: invalid literal for int() with base 10: 'June'

In [32]:
print(str(Year)+'/'+Month+'/'+str(Day))

1993/June/23

# Practicing Python 12-11-2022

In [46]:
# Creating a Program to calculate salary based on hours.

# Salary rate

rate = 11

print('Please Enter Number of Hours')

num_of_hours = int(input())

salary = rate*num_of_hours
# Escape Sequence

print("Employee's Salary = ",salary)

Please Enter Number of Hours
450
Employee's Salary =  4950

# Creating the Function

In [62]:
def salary_Calculation(num_of_hours,rate):
    rate = rate
    num_of_hours = num_of_hours
    salary = rate*num_of_hours
    return(salary)

In [63]:
## Input 

print("Please Enter Salary")

num_of_hours = int((input()))

print("Please Enter Rate")

rate = int((input()))

## Output

print('Your Salary is = ',salary_Calculation(num_of_hours,rate))

Please Enter Salary
111

TypeError: salary_Calculation() missing 1 required positional argument: 'rate'

In [58]:
salary_Calculation(110)

1210